<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.dhuwit.feature.category">

    <application android:theme="@style/Uikit.Theme.Dhuwit">
        <activity android:name=".ui.list.CategoryListActivity" />
        <activity android:name=".ui.budget.CategoryBudgetListActivity" />
    </application>

</manifest>