<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.dhuwit.feature.account">

    <application android:theme="@style/Uikit.Theme.Dhuwit">
        <activity
            android:name=".ui.form.AccountActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>